<h1>New team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_city %><br />
    <%= f.text_field :team_city %>
  </p>
  <p>
    <%= f.label :team_name %><br />
    <%= f.text_field :team_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>