<table>
  <tr>
    <th>City</th>
    <th>Team</th>
    <th>Player</th>
    <th><%= link_to_remote 'AVG', :url => { :action => "sort_table", :stat => "avg", :order => @order }, :method => 'get' %> </th>
    <th><%= link_to_remote 'HR', :url => { :action => "sort_table", :stat => "hr", :order => @order }, :method => 'get' %></th>
    <th><%= link_to_remote 'RBI', :url => { :action => "sort_table", :stat => "rbi", :order => @order }, :method => 'get' %></th>
    <th><%= link_to_remote 'RUNS', :url => { :action => "sort_table", :stat => "runs", :order => @order }, :method => 'get' %></th>
    <th><%= link_to_remote 'SB', :url => { :action => "sort_table", :stat => "sb", :order => @order }, :method => 'get' %></th>
    <th><%= link_to_remote 'OPS', :url => { :action => "sort_table", :stat => "ops", :order => @order }, :method => 'get' %></th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.team.team_city %>
    <td><%= stat.team.team_name %>
    <td><%= stat.player.given_name + " " + stat.player.surname %>
    <td><%= format_stat( stat.avg ) %>
    <td><%= stat.hr %>
    <td><%= stat.rbi %>
    <td><%= stat.runs %>
    <td><%= stat.sb %>
    <td><%= format_stat( stat.ops ) %>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>