<h1>Listing stats</h1>

<table>
  <tr>
  </tr>

<% @stats.each do |stat| %>
  <tr>
  	<td><%= stat.player.surname %>
  	<td><%= stat.avg %>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stat', new_stat_path %>